---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 25 2023')}
	heroImage="/developer.png"
>
	<p>
		Soy un estudiante de ingeniería de software con 2 años de experiencia desarrollando. Durante este tiempo, he estado enfocado en la creación tanto de proyectos personales como colaborativos, lo que me ha permitido ejercitar y expandir mis capacidades en este campo.
	</p>

	<p>
		Centro mi atención en el desarrollo backend y la programación en su conjunto. A lo largo de mi recorrido, he trabajado con diversos lenguajes, incluyendo Python, JavaScript, C# y sus frameworks enfocados en el backend. He adquirido competencia en la manipulación de bases de datos, la edificación de aplicaciones web mediante React.
	</p>

	<p>
		A través de este blog, mi propósito es compartir mi conocimiento y experiencia, proporcionando contenido que inspire, eduque y motive a otros en su propio trayecto de desarrollo. Acompáñenme mientras continúo trazando mi camino en el universo del desarrollo de software, explorando las innumerables posibilidades que la programación tiene para ofrecer.
	</p>

	
</Layout>
