---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 25 2023')}
	heroImage="/developer.png"
>
	<p>
		Soy un estudiante de ingenieria de software. Mi inmersión en este apasionante campo tuvo inicio en 2021, y desde entonces, me he enfocado en la creación de proyectos personales y colaborativos que han ejercitado y ampliado mis capacidades.
	</p>

	<p>
		Centro mi atención en el desarrollo backend y la programación en su conjunto. A lo largo de mi recorrido, he trabajado con diversos lenguajes, incluyendo Python, JS y C#. He adquirido competencia en la manipulación de bases de datos, la edificación de aplicaciones web mediante React y la habilidad de descomponer empresas complejas en componentes manejables.
	</p>

	<p>
		A través de este blog, mi propósito es compartir mi conocimiento y experiencia, proporcionando contenido que inspire, eduque y motive a otros en su propio trayecto de desarrollo. Acompáñenme mientras continúo trazando mi camino en el universo del desarrollo de software, explorando las innumerables posibilidades que la programación tiene para ofrecer.
	</p>

	
</Layout>
